.App {
  text-align: center;
}

.todo-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.todo-container input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
}

.todo-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.todo-container ul {
  list-style-type: none;
  padding: 0;
}

.todo-container li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
